body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

::-webkit-scrollbar { 
    display: none; 
}

header{
    margin-top: 0em;
    text-align: center;
    width: 100%;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin: 0.25em 1em;
}

nav a{
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8rem;
    padding: .5rem;
    color: black;
}

nav a:hover,
nav a:focus {
    color:#436EEE;
    transition: 0.5s;
}

.about-button{
  border: solid white 1px;
  background-color: rgba(255,255,255,.35);
  font-size: 2.25rem;
  text-decoration: none;
  text-transform: uppercase;
  border-width: 2px;
  border-style: solid;
  padding: .75em 1.75em;
  color: white;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("../img/img1.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("../img/img2.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("../img/img3.jpg");
  min-height: 400px;
}

.bgimg-4 {
  background-image: url("../img/img11.jpg");
  min-height: 70%;
}


.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border img{
  background-color: #111;
  color: #fff;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 2px;
  padding-bottom: 2px; 
  font-size: 25px;
  letter-spacing: 10px;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

h1 {
  width: 80%;
  color: white;
  margin-bottom: 0;
}

.caption-fin {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}


.socials img {
  filter: opacity(0.5);
}

.socials img:hover {
  filter: opacity(1);
  transition: 0.8s;
}
/* Turn off parallax scrolling for tablets and phones */
/*@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}*/