body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

::-webkit-scrollbar { 
    display: none; 
}

header{
    margin-top: 0em;
    text-align: center;
    width: 100%;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin: 0.25em 1em;
}

nav a{
    font-weight: 900;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8rem;
    padding: .5rem;
    color: black;
    transition: 0.5s;

}

nav a:hover,
nav a:focus {
    color:#436EEE;
}

.overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-y: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}



.about-button{
  border: solid white 1px;
  background-color: rgba(255,255,255,.35);
  font-size: 2.25rem;
  text-decoration: none;
  text-transform: uppercase;
  border-width: 2px;
  border-style: solid;
  padding: .75em 1.75em;
  color: white;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url("../img/resized/img13.jpg");
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("../img/img6.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("../img/img17.jpg");
  min-height: 400px;
}

.bgimg-4 {
  background-image: url("../img/img18.jpg");
  min-height: 70%;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border img{
  background-color: #111;
  color: #fff;
  padding-left: 18px;
  padding-right: 18px;
  padding-top: 2px;
  padding-bottom: 2px; 
  font-size: 25px;
  letter-spacing: 10px;
}

.caption-fin {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

/* Diamond Grid */
.grid-border{    
  background-image: url(../img/blckwood.jpg);
  padding: 4em 0 8em 0;

}

.diamond-grid{
  width: 70%;
/*  margin: 150px auto 0;
*/ 
}

.item{
  width: 220px;
  height: 220px;
  background: #fff;
  transition: 0.5s;
  opacity: 0.5;
}

.item:hover{
  opacity: 1;
}

.item img{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) scale(1.5);
  width: 100%;
}

@media (max-width: 767px){
  .diamond-grid{
    width:100%;
  }
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

h1 {
  width: 80%;
  color: white;
  margin-bottom: 0;
}

.button {
  padding: 1em 2em 1em 2em;
  font-family: 'Impact';
  font-size: 20px;
  text-decoration: none;
  background-color: white;
  color: black;
  border: solid black 3px;
  transition: 1.2s;
}

.button:hover{
  color: white;
  background-color: black;
}


.socials img {
  filter: opacity(0.5);
}

.socials img:hover {
  filter: opacity(1);
  transition: 0.8s;
}
/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}